
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="container">
        <h1>Simple Search!</h1>
        <p>Define a Schema, apply some attributes, create a query aaaannd, GO!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Source Code &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Fluent API</h2>
            <p>All configuration is handled through a fluent API.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Lightning Fast</h2>
            <p>Make use of Lucenes lightnig fast search capabilities. Fast to search fast to configure. Be searching content within minutes. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Open Source</h2>
            <p>If there is a piece of functionality that you can't live without, just add. All code is accessible view Github..</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>
</div> <!-- /container -->
